//  _        ___                                      ___ _
// | |      / __)_                                   / __|_)
// | | ____| |__| |_ _ _ _ ____      ____ ___  ____ | |__ _  ____    ____ ___  ____
// | |/ _  )  __)  _) | | |    \    / ___) _ \|  _ \|  __) |/ _  |  / ___) _ \|  _ \
// | ( (/ /| |  | |_| | | | | | |  ( (__| |_| | | | | |  | ( ( | |_| |  | |_| | | | |
// |_|\____)_|   \___)____|_|_|_|   \____)___/|_| |_|_|  |_|\_|| (_)_|   \___/|_| |_|
// A WindowManager for Adventurers                         (____/
// For info about configuration please visit https://github.com/leftwm/leftwm/wiki

#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10"
    ],
    max_window_width: None,
    layouts: [
        MainAndVertStack,
        //MainAndHorizontalStack,
        //MainAndDeck,
        //GridHorizontal,
        //EvenHorizontal,
        //EvenVertical,
        //Fibonacci,
        //LeftMain,
        //CenterMain,
        //CenterMainBalanced,
        //CenterMainFluid,
        //Monocle,
        //RightWiderLeftStack,
        //LeftWiderRightStack,
    ],
    layout_mode: Workspace,
    insert_behavior: Bottom,
    scratchpad: [
        (
            name: "Memo",
            value: "gnome-text-editor",
            x: 300, y: 300, width: 640, height: 480
        ),
        (
            name: "Calc",
            value: "gnome-calculator",
            x: 360, y: 360, width: 640, height: 480
        )
    ],
    window_rules: [],
    disable_current_tag_swap: true,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    single_window_border: false,
    sloppy_mouse_follows_focus: true,
    auto_derive_workspaces: true,
    keybind: [
        // init
        (command: Execute,     modifier: ["modkey"], key: "i", value: "feh --bg-fill /home/baehyunsol/Downloads/bg.jpg & picom -i 0.88 & polybar -c /home/baehyunsol/.config/polybar.ini bar0 & polybar -c /home/baehyunsol/.config/polybar.ini bar1 & polybar -c /home/baehyunsol/.config/polybar.ini bar2 & polybar -c /home/baehyunsol/.config/polybar.ini bar3"),

        // launch new app
        (command: Execute,     modifier: ["modkey"], key: "r", value: "rofi -show run"),
        (command: Execute,     modifier: ["modkey", "Shift"], key: "Return", value: "alacritty"),
        (command: Execute,     modifier: ["modkey", "Shift"], key: "h", value: "firefox --kiosk /home/baehyunsol/Documents/DThelp/index.html"),
        (command: Execute,     modifier: ["modkey", "Shift"], key: "c", value: "gnome-control-center"),
        (command: Execute,     modifier: ["modkey", "Shift"], key: "f", value: "firefox"),
        (command: Execute,     modifier: ["modkey", "Shift"], key: "v", value: "code"),
        (command: Execute,     modifier: ["modkey", "Shift"], key: "n", value: "nautilus"),
        (command: Execute,     modifier: ["modkey", "Shift"], key: "p", value: "firefox --private-window"),

        // kill
        (command: Execute,     modifier: ["modkey", "Control"], key: "x", value: "loginctl kill-session $XDG_SESSION_ID"),
        (command: CloseWindow, modifier: ["modkey", "Control"], key: "q"),
        (command: Execute,     modifier: ["modkey", "Control"], key: "p", value: "pkill polybar"),
        (command: Execute,     modifier: ["modkey", "Control"], key: "p", value: "pkill picom"),
        (command: SoftReload,  modifier: ["modkey", "Control"], key: "p"),

        // move window/tag
        (command: MoveWindowTop,   modifier: ["modkey"], key: "Return"),
        (command: MoveWindowUp,    modifier: ["modkey", "Shift"], key: "Up"),
        (command: MoveWindowDown,  modifier: ["modkey", "Shift"], key: "Down"),
        (command: FocusWindowUp,   modifier: ["modkey"], key: "Up"),
        (command: FocusWindowDown, modifier: ["modkey"], key: "Down"),
        (command: GotoTag, modifier: ["modkey"], key: "1", value: "1"),
        (command: GotoTag, modifier: ["modkey"], key: "2", value: "2"),
        (command: GotoTag, modifier: ["modkey"], key: "3", value: "3"),
        (command: GotoTag, modifier: ["modkey"], key: "4", value: "4"),
        (command: GotoTag, modifier: ["modkey"], key: "5", value: "5"),
        (command: GotoTag, modifier: ["modkey"], key: "6", value: "6"),
        (command: GotoTag, modifier: ["modkey"], key: "7", value: "7"),
        (command: GotoTag, modifier: ["modkey"], key: "8", value: "8"),
        (command: GotoTag, modifier: ["modkey"], key: "9", value: "9"),
        (command: GotoTag, modifier: ["modkey"], key: "0", value: "10"),
        (command: MoveToTag, modifier: ["modkey", "Shift"], key: "1", value: "1"),
        (command: MoveToTag, modifier: ["modkey", "Shift"], key: "2", value: "2"),
        (command: MoveToTag, modifier: ["modkey", "Shift"], key: "3", value: "3"),
        (command: MoveToTag, modifier: ["modkey", "Shift"], key: "4", value: "4"),
        (command: MoveToTag, modifier: ["modkey", "Shift"], key: "5", value: "5"),
        (command: MoveToTag, modifier: ["modkey", "Shift"], key: "6", value: "6"),
        (command: MoveToTag, modifier: ["modkey", "Shift"], key: "7", value: "7"),
        (command: MoveToTag, modifier: ["modkey", "Shift"], key: "8", value: "8"),
        (command: MoveToTag, modifier: ["modkey", "Shift"], key: "9", value: "9"),
        (command: MoveToTag, modifier: ["modkey", "Shift"], key: "0", value: "10"),
        (command: ToggleFloating, modifier: ["modkey", "Control"], key: "f"),

        // resize window
        (command: IncreaseMainWidth, modifier: ["modkey", "Control"], key: "w", value: "5"),
        (command: DecreaseMainWidth, modifier: ["modkey", "Control"], key: "n", value: "5"),
        (command: ToggleFullScreen,  modifier: ["modkey", "Control"], key: "s"),

        // scratch pads
        (command: ToggleScratchPad,  modifier: ["modkey", "Shift"], key: "m", value: "Memo"),
        (command: ToggleScratchPad,  modifier: ["modkey", "Shift"], key: "l", value: "Calc"),
        (command: ReleaseScratchPad, modifier: ["modkey", "Control"], key: "r"),
    ],
    state_path: None,
)

